/*antes de ser clicado*/
a:link{
	color: black;
	text-decoration: none;
}

/*quando mause ta em cima*/
a:hover {
	background-color: transparent;
	color: purple;
}

/* o link ja clicado*/
a:visited {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

/* quando clicar*/
a:active { 
	color: white; 
}


.tela_inteira{
  width: 100%;
  height: 100%;
  background-color: #BDB76B;
}

.titulo{ 
  border: 2px solid black;
  height: 20%;
  width: 100%;
}

.logo{
  /*border: 2px solid yellow;*/
  height: 100%;
  width: 20%;
  float: left;
}
.logo img{
  height: 100%;
  width: 100%;
}
.titulo_pag{
  border: 2px solid black;
  height: 100%;
  text-align: center;
}
.titulo_pag button{
  margin-top: 5%;
}

#titulobutton{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 22px;
	border: 1px solid #555555;
  color:black;
}
.parte_baixo{
  border: 2px solid black;
  width: 100%;
  height: 80%;
}

.opcoes{
  border: 2px solid black;
  height: 100%;
  width: 20%;
  float:left;
}

.conteudo{
  border: 2px solid black;
  height: 100%;
  width: 80%;
 float:left;
 background-color: white;
 text-align: left;
}

.cadastro_lixo{
  float: left;
}

.form input {
  height: 30px;
 }
 .form p{
  font-size: 200%;
 }

 .form form{
   text-align: right;
 }
 
 .form select{
	height: 30px;
}

#cancelar{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 22px;
	border: 1px solid #555555;
  color:black;
  cursor: pointer;
}

#cancelar:hover {
	border-radius: 12px;
	border: 2px solid white;
}

#salvar{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 22px;
	border: 1px solid #555555;
  color:black;
  cursor: pointer;
}

#salvar:hover {
	border-radius: 12px;
	border: 2px solid white;
}

 body{
   background-color: #BDB76B;
 }