/*antes de ser clicado*/
a:link{
	color: black;
	text-decoration: none;
}

/*quando mause ta em cima*/
a:hover {
	background-color: transparent;
	color: purple;
}

/* o link ja clicado*/
a:visited {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

/* quando clicar*/
a:active { 
	color: white; 
}


.tela_inteira{
  width: 100%;
  height: 100%;
  background-color: #BDB76B;
}

.logo{
  /*border: 2px solid black;*/
  float:left;
  height: 100%;
  width: 70%;
}

.login-cadastro{
  /*border: 2px solid blue;*/
  float: right;
  height: 100%;
  width: 29%;
  margin: 2;
}

.login-cadastro form{
  margin-top: 50%;
  margin-left: 10%;
}


.login-cadastro input {
  height: 30px;
 }
 .login-cadastro p{
  font-size: 200%;
 }

 #login{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 19px;
	border: 1px solid #555555;
  color:black;
  cursor: pointer;
}

#login:hover {
	border-radius: 12px;
	border: 2px solid white;
}

#cadastro{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 19px;
	border: 1px solid #555555;
  color:black;
  cursor: pointer;
}

#cadastro:hover {
	border-radius: 12px;
	border: 2px solid white;
}
body{
  background-color: #BDB76B;
 }
 