/*antes de ser clicado*/
a:link{
	color: black;
	text-decoration: none;
}

/*quando mause ta em cima*/
a:hover {
	background-color: transparent;
	color: purple;
}

/* o link ja clicado*/
a:visited {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

/* quando clicar*/
a:active { 
	color: white; 
}

.tela_inteira{
  width: 100%;
  height: 100%;
  background-color: #BDB76B;
}

.titulo{ 
  border: 2px solid black;
  height: 20%;
  width: 100%;
}

.logo{
  /*border: 2px solid yellow;*/
  height: 100%;
  width: 20%;
  float: left;
}
.logo img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.pesquisa{
  /*border: 2px solid red;*/
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.parte_baixo{
  /*border: 2px solid blue;*/
  width: 100%;
  height: 80%;
  margin: 1;
}

.opcoes{
  border: 2px solid black;
  height: 100%;
  width: 20%;
  float:left;
}

.conteudo{
  border: 2px solid black;
  height: 100%;
  width: 60%;
 float:left;
 background-color: white;
}

.contatos-grupos{
  border: 2px solid black;
  height: 100%;
  width: 19%;
  float: left;
}

.contatos{
  /*border: 2px solid red;*/
  height: 50%;
  width: 100%;
  text-align: center;
}

.grupos{
  /*border: 2px solid black;*/
  height: 49%;
  width: 100%;
  text-align: center;
}

#sair{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 19px;
	border: 1px solid #555555;
  color:black;
  float: right;
  margin-right: 2%;
  margin-top: 3%;
  cursor: pointer;
}

#sair:hover {
	border-radius: 12px;
	border: 2px solid white;
}

#msg{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 19px;
	border: 1px solid #555555;
  color:black;
  float: right;
  margin-right: 2%;
  margin-top: 3%;
}

#msg2{
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 25px;
	border: 1px solid #555555;
  color:black;
  text-align:left;
  margin-left:2%;
  margin-top:2%;
}

#adicionar{
  margin-top: 2%;
  font-family: "Arial", cursive, sans-serif;
	background-color: #66cc33;
	font-size: 22px;
	border: 1px solid #555555;
  color:black;
  cursor: pointer;
}

#adicionar:hover {
	border-radius: 12px;
	border: 2px solid white;
}

.pesquisa input {
  height: 30px;
 }
 .pesquisa p{
  margin-left: 5%;
  margin-top: 5%;
  font-size: 200%;
 }
 
 .customers3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top:2%;
}

.customers3 td, #customers th {
    border: 1px solid green;
    padding: 8px;
}

.customers3 tr:nth-child(even){background-color: #f2f2f2;}

.customers3 tr:hover {background-color: #ddd;}

.customers3 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
 
 .customers2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top:2%;
}

.customers2 td, #customers th {
    border: 1px solid green;
    padding: 8px;
}

.customers2 tr:nth-child(even){background-color: #f2f2f2;}

.customers2 tr:hover {background-color: #ddd;}

.customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
 
.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top:2%;
}

.customers td, #customers th {
    border: 1px solid green;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


 
 body{
   background-color: #BDB76B;
 }